<a href="https://colab.research.google.com/github/thiagorayam/Data/blob/master/Exemplo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

df=pd.read_csv("https://raw.githubusercontent.com/thiagorayam/Data/master/Consumo_cerveja.csv",encoding = "ISO-8859-1", decimal=",")
df.head()

         Data  ...  Consumo de cerveja (litros)
0  2015-01-01  ...                       25.461
1  2015-01-02  ...                       28.972
2  2015-01-03  ...                       30.814
3  2015-01-04  ...                       29.799
4  2015-01-05  ...                       28.900

[5 rows x 7 columns]

In [0]:
df=df.rename(columns={"Temperatura Media (C)": "Tmed", "Temperatura Minima (C)": "Tmin", "Temperatura Maxima (C)": "Tmax", "Consumo de cerveja (litros)":"Consumo"})

In [6]:
df.head()

         Data   Tmed  Tmin  Tmax  Precipitacao (mm)  Final de Semana Consumo
0  2015-01-01  27.30  23.9  32.5                0.0              0.0  25.461
1  2015-01-02  27.02  24.5  33.5                0.0              0.0  28.972
2  2015-01-03  24.82  22.4  29.9                0.0              1.0  30.814
3  2015-01-04  23.98  21.5  28.6                1.2              1.0  29.799
4  2015-01-05  23.82  21.0  28.3                0.0              0.0  28.900

In [9]:
df.dtypes

Data                 category
Tmed                  float64
Tmin                  float64
Tmax                  float64
Precipitacao (mm)     float64
Final de Semana       float64
Consumo              category
dtype: object

In [0]:
df['Data'] = df['Data'].astype('category')
df['Consumo'] = df['Data'].astype('category')

In [10]:
df.shape

(941, 7)

In [12]:
df.isnull().sum()

Data                 576
Tmed                 576
Tmin                 576
Tmax                 576
Precipitacao (mm)    576
Final de Semana      576
Consumo              576
dtype: int64